/* Sidebar */
.sidebar {
    margin: 0px;
    padding: 0;
    width: 180px;
    background-color: #f1f1f1;
    position: fixed;
    /* height: 50%; */
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #828282;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #828282;
    color: white;
}

div.content {
    margin-left: 180px;
    padding:10px 10px 10px 20px;
    /* height: 100px; */
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

/* Other */
td{
    height: 120px;
    vertical-align: center;
    font: normal 18px Arial, sans-serif;
}

body{
    font: normal 18px Arial, sans-serif;
}

li{
    margin: 5px;
}